{{!-- {{#if user}} --}}
<section class="sec-2">
  <div class="wrapper">
    <div class="search-input">
        <form class="question-form">

            <input type="text" autocomplete="off" id="q-question" name="question" id="" placeholder="Type to search..">
        <div class="autocom-box">
            <li></li>
        </div>
        <button id="question-btn" class="icon" type="submit"><i class="fas fa-search"></i>
        </button>
        </form>
    </div>
    
  </div>
  </div>
  <div class="qna">
        <div id="qna">
            <div class="sec-q">
                <p class="ques">{{question}}</p>
                <h5 class="ans">{{answer}}</h5>
            </div>
        </div>
    </div>
</section>
{{!-- {{/if}} --}}